@import './styles/variables.module.css';

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background-color: black;
    color: var(--color-off-white-1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


input[type="range"] {
  /* accent-color: #ff4081; */
  accent-color: var(--color-warm-pink-1);
}

button {
  -webkit-appearance: none;
  color: inherit;
}