@import './variables.module.css';

:root {
    --controls-container-width: 80px; /* default, overwritten dynamically */
	--controls-column-width: 80px; /* default, overwritten dynamically */
	--controls-container-height: 80px;
}

.controlsContainer {
    background-color: rgb(55, 41, 62);
    padding: 10px;
    border-radius: 15px;
	position: relative;
    font-weight: 500;
    font-size: 20px;
	width: var(--controls-container-width);
	height: var(--controls-container-height);
	/* left: calc(var(--controls-column-width) + 20px); */
}

.controlsSlider {
    width: 40%;
    accent-color: rgb(189, 125, 69);
	color: white;
}

.controlsButton {
    background-color: rgb(8, 177, 10);
    border-radius: 5px;
    margin-bottom: 10px;
    height: calc(var(--controls-container-height) * 0.2);
    width: calc(var(--controls-container-width) * 0.3);
    font-weight: 900;
}

.controlsButton:hover {
    background-color: rgb(0, 76, 255);
}

/* Play mode */
.playing:hover {
    background-color: rgb(255, 70, 70); /* red when playing */
}

.playing {
    background-color: rgb(200, 0, 0);
}

/* Stop mode */
.stopped:hover {
    background-color: rgb(8, 177, 10); /* green when stopped */
}

.stopped {
    background-color: rgb(12, 132, 46); /* blue on hover */
}

.clearButton {
	background-color: rgb(165, 91, 30);
}

.clearButton:hover {
	background-color: rgb(203, 121, 54);
}

.resetButton {
	background-color: rgb(186, 168, 29);
}

.resetButton:hover {
	background-color: rgb(246, 218, 8);
}