.dropdownWrapper {
	position: absolute;
	right: 0px;
	z-index: 999;
	background: #111;
	border: 1px solid #333;
	border-radius: 8px;
	padding: 16px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	min-width: 280px;
	max-width: 90vw;
}
