@import './variables.module.css';

.loginFormInput {
    width: 100%;
    height: 20px;
    margin-bottom: 6px;
    padding: 5px;
    font-size: calc(var(--base-font-size) * 2);
    background-color: var(--ui-accent-3);
}

.loginFormInput::placeholder {
	color: rgb(60, 60, 60);
}

.loginButton {
    width: 50%;
    height: 30px;
    background-color: var(--ui-accent-2);
    border-radius: 5px;
    margin-bottom: 10px;
	color: var(--color-off-white-1);
    font-weight: 900;
    font-size: calc(var(--base-font-size) * 2);
}

.loginButton:hover {
    background-color: var(--ui-accent);
}

.loginForm {
    font-size: calc(var(--base-font-size) * 2);
}
