@import './variables.module.css';

:root {
    --save-button-bg: rgb(30, 75, 179);
    --save-button-bg-hover: rgb(55, 110, 238);
    --loop-input-bg: rgb(138, 101, 186);
}

.saveButton {
    background-color: var(--save-button-bg);
    border-radius: 5px;
    margin-bottom: 10px;
    height: calc(var(--controls-container-height) * 0.2);
    width: calc(var(--controls-container-width) * 0.3);
    font-weight: 900;
    font-size: 20px;
    color: var(--ui-text-primary);
}

.saveButton:hover {
    background-color: var(--save-button-bg-hover);
}

.loopNameEntry {
    height: 30px;
    margin-bottom: 10px;
    background-color: var(--loop-input-bg);
    font-size: 15px;
    width: 100%;
}

.loopNameEntry::placeholder {
    color: var(--placeholder-text);
}
