@import './variables.module.css';

:root {
    --delete-button-bg: rgb(199, 29, 29);
    --delete-button-bg-hover: rgb(226, 80, 80);
}

.userLoopsWrapper {
    border-width: 10px;
    border-style: solid;
    border-color: var(--ui-surface);
    border-radius: 10px;
    background-color: var(--color-dark-purple-2);
    font-weight: 600;
    padding: 10px;
}

.userLoopWrapper {
    display: flex;
    flex-direction: row;
}

.deleteButton {
    background-color: var(--delete-button-bg);
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
    font-size: calc(var(--base-font-size) * 1.5);
}

.deleteButton:hover {
    background-color: var(--delete-button-bg-hover);
}

@media (orientation: landscape) and (min-width: 900px) {
    .userLoopsWrapper {
        max-width: 30%;
    }
}

.userLoop {
    font-size: calc(var(--base-font-size) * 2);
}

.userLoop:hover {
    font-size: calc(var(--base-font-size) * 2.5);
}
