.userLoopsWrapper {
	border-width: 10px;
	border-style: solid;
	border-color: rgb(47, 31, 59);
	border-radius: 10px;
	background-color: rgb(47, 31, 59);
	color: white;
	font-weight: 600;
}

.userLoopsInternal {
	border-radius: 10px;
	border-width: 10px;
	border-color: rgb(83, 18, 118);
	border-style: solid;
	padding: 15px;
	background-color: rgb(83, 18, 118);
}

@media (orientation: landscape) {

	.userLoopsWrapper {
		max-width: 30%;
	}

}

.userLoop:hover {
	font-size: larger;
}