:root {
	--color-dark-purple-1: #42115e;
	--color-dark-purple-2: #382045;
	--color-dark-gray-1: #1a1a1a;
	--color-off-white-1: rgb(190, 190, 190);
	--color-off-pink-1: rgb(176, 73, 180);
	--color-warm-pink-1: rgb(248, 77, 171);
	--color-bright-warm-pink-1: rgb(255, 134, 201);
	--color-off-orange-1: rgb(225, 123, 21);
	--color-off-red-1: rgb(255, 72, 22);
	--color-off-green-1: rgb(12, 225, 16);
}